div#debug
  table
    tr
      th GAME_INFO
      th USER_INFO
      th CITY_INFO
    tr
      td
        if !game
          span {nodata}
        else
          ul
            each key, val in game
              li <strong>#{val}</strong> : #{key}
      td
        if !user
          span {error : nodata}
        else
          ul
            each key, val in user
              li <strong>#{val}</strong> : #{key}
      td
        if !city
          span {nodata}
        else
          ul
            each key, val in city
              li <strong>#{val}</strong> : #{key}
